:root {
  font-family: 'spartan';
  font-size: 17px;
  padding: 0;
  margin: 0;

  --primary-bg: #5c70f3;
  --primary-bg-hover: #6f81f5;
  /* lighter hover */

  /* Secondary Colors */
  --second-bg: #00177a;
  --second-bg-hover: #00125f;
  /* darker hover */

  --third-bg: #90a9e5;
  --third-bg-hover: #a2b9f0;
  /* lighter hover */

  /* Buttons */
  --second-button-bg: #495bd1;
  --second-button-hover: #3a4ab6;

  /* Text Colors */
  --text-light: #ffffff;
  --text-dark: #1a1a1a;

  /* Border Radius */
  --border-radius: 8px;

  /* Transition */
  --transition-fast: 0.2s ease-in-out;
  --transition-normal: 0.3s ease;
}

@font-face {
  font-family: 'spartan-bold';
  src: url('./assets/fonts/LeagueSpartan-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'spartan';
  src: url('./assets/fonts/LeagueSpartan-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'spartan-md';
  src: url('./assets/fonts/LeagueSpartan-Medium.ttf') format('truetype');
}

.main-content {
  padding-left: 5%;
  padding-top: 5%;
  background-color: #f7f7f7;
  min-height: 100vh;
  height: 100%;
  display: flex;
  justify-content: center;
}

@media (max-width: 768px) {
  .main-content {
      padding-left: 10%;
      padding-top: 7%;
    }
}